<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="indexfragments :: head"></head>

<body>
    <h5>Basic tools</h5>
    <ul>
        <li><a href="/basictools/voltagedrop">Voltage drop calculator</a></li>
        <li><a href="/basictools/conductorsizingpervoltagedrop">Conductor sizing per voltage drop</a></li>
        <li>Voltage drop for equally distributed loads</li>
        <li>Conduit fill calculator</li>
        <li>...</li>
        <li>...</li>
        <li>...</li>
        <li>...</li>
    </ul>
    <h5>Advanced tools</h5>
    <ul>
        <li>Motor calculation</li>
        <li>Conductor selection</li>
        <li>Fire pump feeder</li>
        <li>...</li>
        <li>...</li>
        <li>...</li>
        <li>...</li>
        <li>...</li>
    </ul>
    <h5>Other tools</h5>
    <ul>
        <li>...</li>
        <li>...</li>
        <li>...</li>
        <li>...</li>
    </ul>
    <h5>Usefull links</h5>
    <ul>
        <li>NFPA</li>
        <li>Mike Holt web site</li>
        <li>...</li>
        <li>...</li>
        <li>...</li>
    </ul>
</body>
</html>